body {
    background-image:url("https://img.freepik.com/photos-gratuite/fond-abstrait-blanc-elegant_24972-1974.jpg?w=2000");
    }
    h1 {
    text-align:center;
    }
    p {
        font-size: 150%;
    }